<form role="form" id="registrationForm">
    <legend>Admin Registration</legend>
    <div class="alert alert-danger hidden" role="alert" id="registrationError"></div>
    <div class="alert alert-success hidden" role="alert" id="registrationSuccess"></div>
    <div class="form-group">
        <input class="registrationField" type="text" class="form-control" name="registerFirstName" id="registerFirstName" placeholder="First Name" required>
    </div>
    <div class="form-group">
        <input class="registrationField" type="text" class="form-control" name="registerLastName" id="registerLastName" placeholder="Last Name" required>
    </div>
    <div class="form-group">
        <input class="registrationField" type="email" class="form-control" name="registerEmail" id="registerEmail" placeholder="E-Mail" required>
    </div>
    <div class="form-group">
        <input class="registrationField" type="text" class="form-control" name="registerUsername" id="registerUsername" placeholder="Username" required>
    </div>
    <div class="form-group">
        <input class="registrationField" type="password" class="form-control" name="registerPassword" id="registerPassword" placeholder="Password" required>
    </div>
    <div class="form-group">
        <input class="registrationField" type="password" class="form-control" name="registerPassword2" id="registerPassword2" placeholder="Confirm Password" required>
    </div>
    <div class="form-group">
        <input class="registrationField" type="text" class="form-control" name="registerCode" id="registerCode" placeholder="Enter your registration code here" required>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" value="Register" id="registerBtn">Register</button>
    </div>
</form>

<script type="text/javascript">


    $(document).ready(function(){

        function validateEmail(email) {
            var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
            return re.test(email);
        }

        function validatePassword(p1, p2){
            return p1 == p2 && p1 != "" && p1 != undefined;
        }

        function validateFields(){
            $(".registrationField").each(function(i, field){
                if(this.value == "" || this.value == undefined){
                    return false;
                }
            });

            return true;
        }

        $("#registerBtn").click(function(e){
//            e.preventDefault();

            var data = $("#registrationForm").serialize();
            var name = $("#registerFirstName").val();
//            console.log(data);

            $.ajax({
                type: "POST",
                url: "/users/register",
                data: data,
//                success: success,
//                dataType: dataType
            }).success(function(res, status){
                console.log("SUCCESS");
                console.log(arguments);
                if(res.error){
                    $("#registrationError").html(res.error);
                    $("#registrationError").removeClass("hidden");
                    $("#registrationSuccess").html("");
                    $("#registrationSuccess").addClass("hidden");
                }else{
                    $("#registrationSuccess").html("Thanks " + name + ", you may now log in!");
                    $("#registrationSuccess").removeClass("hidden");
                    $("#registrationError").html("");
                    $("#registrationError").addClass("hidden");
                }


            }).fail(function(err, status){
                console.log("FAILURE");
                console.log(arguments);
            });


        });
    });
</script>

<!--<form action="/users/register" method="post" role="form">-->
    <!--<legend>Admin Registration</legend>-->
    <!--<div class="form-group">-->
        <!--<input type="text" class="form-control" name="registerFirstName" id="registerFirstName" placeholder="First Name" required>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<input type="text" class="form-control" name="registerLastName" id="registerLastName" placeholder="Last Name" required>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<input type="email" class="form-control" name="registerEmail" id="registerEmail" placeholder="E-Mail" required>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<input type="text" class="form-control" name="registerUsername" id="registerUsername" placeholder="Username" required>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<input type="password" class="form-control" name="registerPassword" id="registerPassword" placeholder="Password" required>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<input type="password" class="form-control" name="registerPassword2" id="registerPassword2" placeholder="Confirm Password" required>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<input type="text" class="form-control" name="registerCode" id="registerCode" placeholder="Enter your registration code here" required>-->
    <!--</div>-->
    <!--<div class="modal-footer">-->
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
        <!--<button type="submit" class="btn btn-primary" value="Register">Register</button>-->
    <!--</div>-->
<!--</form>-->