<div id="mainImageDiv">
    <img src="../images/sandersnew.jpg" alt="BernieSandersImage" id="mainImage"/>
    <div class="carousel-caption">
        <h1>Bernie Sanders</h1>
        <h3>A candidate for the people.</h3>
    </div>
</div>

<script type="text/javascript">
</script>
