<div class="container" id="theIssuesContainer">
    <img src="/images/January-1962-31.jpg" class="img-responsive" alt="Responsive image" id="theIssuesImage">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="page-header">
            <h1>The issues facing our country<small>...and what Bernie Sanders is going to do about it.</small></h1>
        </div>

        <div class="well bernie-issues">
            <h3>INCOME AND WEALTH INEQUALITY</h3>
        </div>
        <blockquote>
            <p>"We got a collapsing middle class; we have more
                wealth and income inequality today than we've had since the 1920s.We have all of these enormous issues. And what big money can do is put an unbelievable
                amount of TV and radio ads out there to deflect attention from the real issues facing the
                American people."
            </p>
            <footer><cite title="Source Title">Bernie Sanders</cite></footer>
        </blockquote>
        <div class="panel-group" id="issue1" role="tablist" aria-multiselectable="true">
            <div class="panel panel-info">
                <div class="panel-heading bernie-solution" role="tab"  data-toggle="collapse" data-parent="#issue1" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h3 class="panel-title">
                        AS PRESIDENT, SANDERS WILL...
                    </h3>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <ol>
                            <li>Demand that the wealthy and large corporations pay their fair share in taxes. Sanders will stop corporations from shifting their profits and jobs overseas to avoid paying U.S. income taxes. He will create a progressive estate tax on the top 0.3 percent of Americans who inherit more than $3.5 million. He will also enact a tax on Wall Street speculators who caused millions of Americans to lose their jobs, homes, and life savings.</li>
                            <li>Increase the federal minimum wage from $7.25 to $15 an hour by 2020. In the year 2015, no one who works 40 hours a week should be living in poverty.</li>
                            <li>Put at least 13 million Americans to work by investing $1 trillion over five years rebuilding our crumbling roads, bridges, railways, airports, public transit systems, ports, dams, wastewater plants, and other infrastructure needs.</li>
                            <li>Reverve trade policies like NAFTA, CAFTA, and PNTR with China that have driven down wages and caused the loss of millions of jobs. If corporate America wants us to buy their products they need to manufacture those products in this country, not in China or other low-wage countries.</li>
                            <li>Create 1 million jobs for disadvantaged young Americans by investing $5.5 billion in a youth jobs program. Today, the youth unemployment rate is off the charts. We have got to end this tragedy by making sure teenagers and young adults have the jobs they need to move up the economic ladder.</li>
                            <li>Fight for pay equity by signing the Paycheck Fairness Act into law. It is an outrage that women earn just 78 cents for every dollar a man earns.</li>
                            <li>Make tuition free at public colleges and universities throughout America. Everyone in this country who studies hard should be able to go to college regardless of income.</li>
                            <li>Expand Social Security by lifting the cap on taxable income above $250,000. At a time when the senior poverty rate is going up, we have got to make sure that every American can retire with dignity and respect.</li>
                            <li>Guarantee healthcare as a right of citizenship by enacting a Medicare for all single-payer healthcare system. It's time for the U.S. to join every major industrialized country on earth and provide universal healthcare to all.</li>
                            <li>Require employers to provide at least 12 weeks of paid family and medical leave; two weeks of paid vacation; and 7 days of paid sick days. Real family values are about making sure that parents have the time they need to bond with their babies and take care of their children and relatives when they get ill.</li>
                            <li>Enact a universal childcare and prekindergarten program. Every psychologist understands that the most formative years for a human being is from the ages 0-4. We have got to make sure every family in America has the opportunity to send their kids to a high quality childcare and pre-K program.</li>
                            <li>Make it easier for workers to join unions by fighting for the Employee Free Choice Act. One of the most significant reasons for the 40-year decline in the middle class is that the rights of workers to collectively bargain for better wages and benefits have been severely undermined.</li>
                            <li>Break up huge financial institutions so that they are no longer too big to fail. Seven years ago, the taxpayers of this country bailed out Wall Street because they were too big to fail. Yet, 3 out of the 4 largest financial institutions are 80 percent bigger today than before we bailed them out. Sen. Sanders has introduced legislation to break these banks up. As President, he will fight to sign this legislation into law.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="well bernie-issues">
            <h3>GETTING BIG MONEY OUT OF POLITICS</h3>
        </div>
        <blockquote>
            <p>"I think many people have the mistaken impression that Congress regulates Wall Street. In truth that's not the case. The real truthis that Wall Street regulates the Congress."
            </p>
            <footer><cite title="Source Title">Bernie Sanders</cite></footer>
        </blockquote>
        <div class="panel-group" id="issue2" role="tablist" aria-multiselectable="true">
            <div class="panel panel-info">
                <div class="panel-heading bernie-solution" role="tab" data-toggle="collapse" data-parent="#issue2" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <h3 class="panel-title">
                        BERNIE'S ACTIONS SO FAR...
                    </h3>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <ol>
                            <li>Introduced the Democracy Is for People constitutional amendment to overturn the Supreme Court's Citizens United decision.</li>
                            <li>Voted for the DISCLOSE Act to shine a light on the exorbitant amounts of dark money in our politics.</li>
                            <li>Promised that any Sanders Administration Supreme Court nominee will commit to overturning the disastrous Citizens United decision.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="well bernie-issues">
            <h3>CREATING DECENT PAYING JOBS</h3>
        </div>
        <blockquote>
            <p>"A job should lift workers out of poverty, not keep them in it."
            </p>
            <footer><cite title="Source Title">Bernie Sanders</cite></footer>
        </blockquote>
        <div class="panel-group" id="issue3" role="tablist" aria-multiselectable="true">
            <div class="panel panel-info">
                <div class="panel-heading bernie-solution" role="tab" data-toggle="collapse" data-parent="#issue3" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    <h3 class="panel-title">
                        BERNIE'S ACTIONS SO FAR...
                    </h3>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <ol>
                            <li>Introduced legislation which would invest $1 trillion over 5 years to modernize our country's physical infrastructure, creating and maintaining at least 13 million good-paying jobs while making our country more productive, efficient and safe.</li>
                            <li>Opposed NAFTA, CAFTA, permanent normal trade relations (PNTR) with China, the TPP, and other free-trade agreements. These deals kill American jobs by shifting work overseas to nations which fail to provide worker protections and pay extremely low wages.</li>
                            <li>Introduced the Employ Young Americans Now Act with Rep. John Conyers. It would provide $5.5 billion in immediate funding to employ one million young Americans between the ages of 16 and 24, and would provide job training to hundreds of thousands of others.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="well bernie-issues">
            <h3>RACIAL JUSTICE</h3>
        </div>
        <blockquote>
            <p>"When men and women stand together for justice, we win. When black, white and Hispanic people stand together for justice, we win. When straight and gay people stand together for justice, we win. When young and old stand together for justice, we win."
            </p>
            <footer><cite title="Source Title">Bernie Sanders</cite></footer>
        </blockquote>
        <div class="panel-group" id="issue4" role="tablist" aria-multiselectable="true">
            <div class="panel panel-info">
                <div class="panel-heading bernie-solution" role="tab" data-toggle="collapse" data-parent="#issue4" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                    <h3 class="panel-title">
                        SANDERS ADDRESSING PHYSICAL VIOLENCE...
                    </h3>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <ol>
                            <li>We must demilitarize our police forces so they don't look and act like invading armies.</li>
                            <li>We must invest in community policing. Only when we get officers into the communities, working within neighborhoods before trouble arises, do we develop the relationships necessary to make our communities safer together. Among other things, that means increasing civilian oversight of police departments.</li>
                            <li>We need police forces that reflect the diversity of our communities.</li>
                            <li>At the federal level we need to establish a new model police training program that reorients the way we do law enforcement in this country. With input from a broad segment of the community including activists and leaders from organizations like Black Lives Matter we will reinvent how we police America.</li>
                            <li>We need to federally fund and require body cameras for law enforcement officers to make it easier to hold them accountable.</li>
                            <li>Our Justice Department must aggressively investigate and prosecute police officers who break the law and hold them accountable for their actions.</li>
                            <li>We need to require police departments and states to provide public reports on all police shootings and deaths that take place while in police custody.</li>
                            <li>We need new rules on the allowable use of force. Police officers need to be trained to de-escalate confrontations and to humanely interact with people who have mental illnesses.</li>
                            <li>States and localities that make progress in this area should get more federal justice grant money. Those that do not should get their funding slashed.</li>
                            <li>We need to make sure the federal resources are there to crack down on the illegal activities of hate groups.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="well bernie-issues">
            <h3>A LIVING WAGE</h3>
        </div>
        <blockquote>
            <p>"The current federal minimum wage is a starvation wage.
                It's got to be raised to a living wage."
            </p>
            <footer><cite title="Source Title">Bernie Sanders</cite></footer>
        </blockquote>
        <div class="panel-group" id="issue5" role="tablist" aria-multiselectable="true">
            <div class="panel panel-info">
                <div class="panel-heading bernie-solution" role="tab" data-toggle="collapse" data-parent="#issue5" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                    <h3 class="panel-title">
                        BERNIE'S ACTIONS SO FAR...
                    </h3>
                </div>
                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <ol>
                            <li>Proposed a national $15 per hour minimum wage.</li>
                            <li>Led the effort to increase the minimum wage for federal contract workers to $10.10 an hour.</li>
                            <li>Introduced the "Workplace Democracy Act" to strengthen the role of unions and the voices of working people on the job.</li>
                            <li>As mayor of Burlington, was a strong collaborator with unions.</li>
                            <li>Leading the fight in the Senate for a $15 an hour minimum wage and a union for fast food workers, and federal contract workers.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="well bernie-issues">
            <h3>REAL FAMILY VALUES</h3>
        </div>
        <blockquote>
            <p>"In terms of protecting the needs of our families, terms of real family values, in many respects the United States lags behind virtually every major country on Earth."
            </p>
            <footer><cite title="Source Title">Bernie Sanders</cite></footer>
        </blockquote>
        <div class="panel-group" id="issue6" role="tablist" aria-multiselectable="true">
            <div class="panel panel-info">
                <div class="panel-heading bernie-solution" role="tab" data-toggle="collapse" data-parent="#issue6" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                    <h3 class="panel-title">
                        BERNIE'S ACTIONS SO FAR...
                    </h3>
                </div>
                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <ol>
                            <li>Cosponsored Sen. Kirsten Gillibrand's FAMILY Act, which would guarantee every employee twelve weeks of paid family and medical leave. This program would be funded through an insurance program, the way Social Security is today. Workers would pay into it with every paycheck, at the price of roughly one cup of coffee per week.</li>
                            <li>Introduced legislation requiring employers to provide at least 10 days of paid vacation per year, as is done in almost every other developed country in the world.</li>
                            <li>Cosponsored Sen. Patty Murray's Healthy Families Act, which would guarantee seven days of paid sick leave per year for American workers.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="well bernie-issues">
            <h3>CLIMATE CHANGE & ENVIRONMENT</h3>
        </div>
        <blockquote>
            <p>"Debating, doubting, or rejecting the basic scientific facts about climate change in the face of the overwhelming evidence and overwhelming scientific opinion will not change those facts."
            </p>
            <footer><cite title="Source Title">Bernie Sanders</cite></footer>
        </blockquote>
        <div class="panel-group" id="issue7" role="tablist" aria-multiselectable="true">
            <div class="panel panel-info">
                <div class="panel-heading bernie-solution" role="tab" data-toggle="collapse" data-parent="#issue7" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                    <h3 class="panel-title">
                        BERNIE'S ACTIONS SO FAR...
                    </h3>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <ol>
                            <li>Introduced the gold standard for climate change legislation with Sen. Barbara Boxer to tax carbon and methane emissions.</li>
                            <li>Led the opposition to the Keystone XL pipeline.</li>
                            <li>Secured $3.2 billion in the economic stimulus package for grants to reduce greenhouse gas emissions, in a program that has funded upgrades for more than 86,000 buildings and installed more than 9,500 solar energy systems.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="well bernie-issues">
            <h3>REFORMING WALL STREET</h3>
        </div>
        <blockquote>
            <p>"The six largest financial institutions have assests of almost 60 percent of our GDP. If Teddy Roosevelt were President today, you know what he would say? 'Break 'em up.' And he would be right. It's time to break up the large Wall Street banks."
            </p>
            <footer><cite title="Source Title">Bernie Sanders</cite></footer>
        </blockquote>
        <div class="panel-group" id="issue8" role="tablist" aria-multiselectable="true">
            <div class="panel panel-info">
                <div class="panel-heading bernie-solution" role="tab" data-toggle="collapse" data-parent="#issue8" href="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
                    <h3 class="panel-title">
                        BERNIE'S ACTIONS SO FAR...
                    </h3>
                </div>
                <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <ol>
                            <li>Introduced the "Too Big to Fail, Too Big to Exist Act," which would break up the big banks and would prohibit any too-big-to-fail institutions from accessing the Federal Reserve's discount facilities or using insured deposits for risky activities.
                            <li>Led the fight in 1999 against repealing the Glass-Steagall provisions which prevented banks (especially "too big to fail" ones) from gambling with customers' money; is a co-sponsor of the Elizabeth Warren/John McCain bill to reinstate those provisions.</li>
                            <li>Has proposed a financial transaction tax which will reduce risky and unproductive high-speed trading and other forms of Wall Street speculation; proceeds would be used to provide debt-free public college education.</li>
                            <li>Is co-sponsoring Sen. Tammy Baldwin's bill to end Wall Street's practice of paying big bonuses to bank executives who take senior-level government jobs.</li>
                            <li>Introduced a tax on Wall Street speculation to make public colleges and universities tuition-free.</li>
                            <li>Supports capping credit card interest rates at 15 percent.</li>
                            <li>Sponsored an amendment calling for an audit the Federal Reserve. The audit found that far more had been spent in the Wall Street bailout than previously disclosed, and that considerable funds had been spent to bail out foreign corporations.
                            <li>Warned about the risks of deregulation eight years before the fiscal crisis of 2008.</li>
                            <li>Has proposed limiting the ability of bankers to get rich from taxpayer bailouts of their institutions</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>