<script>


</script>






<div class="container" id="theManContainer">
    <div class="page-header text-center">
        <h1>Get to know Bernie</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-4 col-xs-12">
                <h4>Early life and education</h4>
                <p>Sanders was born in Brooklyn, New York to Eli Sanders and Dorothy Glassberg.
                    His father was a Jewish immigrant from Poland whose family was killed in the Holocaust,
                    while his mother was born to Jewish parents in New York City. Sanders has said that he became
                    interested in politics at an early age. While attending the University of
                    Chicago, he was active in the Civil Rights Movement, and a student organizer for the Congress of
                    Racial Equality and the Student Nonviolent Coordinating Committee. One of the actions he took was
                    the coordination of sit-in protests against segregated campus housing, for which he was arrested.
                    Sanders also participated in the 1963 March on Washington for Jobs and Freedom. In 1964, Sanders
                    graduated from the University of Chicago with a bachelor of arts degree in political science,
                    married his first wife, Deborah Shiling, and bought a summer home in Vermont.
                </p>
                <img src="/images/bern2.jpg" class="theManImage img-responsive center-block img-rounded" alt="Responsive image">
            </div>
            <div class="col-sm-4 col-md-4 col-xs-12">
                <h4>Early political career</h4>
                <p>In 1981, Sanders ran for mayor of Burlington and defeated six-term Democratic
                    incumbent Gordon Paquette by 10 votes in a four-way contest. Sanders won three additional
                    terms, defeating both Democratic and Republican candidates in successive elections.
                    of U.S. foreign policy in Latin America. In 1985, Burlington City Hall hosted a foreign policy
                    speech by Noam Chomsky. Today the waterfront area includes many parks and miles of public beach
                    and bike paths, a boathouse and science center,and Burlington is reported to be one of the most
                    livable cities in the nation. In 2015, Sanders announced his candidacy for president at Waterfront
                    Park. After serving four terms, Sanders chose not to seek reelection in 1989. He briefly taught
                    political science at Harvard University's Kennedy School of Government that year and at Hamilton
                    College in 1991.
                </p>
                <img src="/images/bern1.jpg" class="theManImage img-responsive img-rounded center-block" alt="Responsive image">
            </div>
            <div class="col-sm-4 col-md-4 col-xs-12">
                <h4>U.S. House of Representatives</h4>
                <p>In 1988, incumbent Republican Congressman Jim Jeffords decided to run for the U.S. Senate,
                    vacating Vermont's at-large congressional district. Republican Lieutenant Governor Peter P. Smith
                    won the House election with a plurality, securing 41% of the vote. Sanders, who ran as an
                    independent, placed second with 38% of the vote, while Democratic State Representative Paul N.
                    Poirier placed third with 19% of the vote. Two years later Sanders ran for the seat again,
                    and defeated the incumbent Smith by a margin of 56% to 40%. Sanders was the first independent
                    elected to the U.S. House of Representatives in 40 years, the last having been Frazier Reams
                    of Ohio. He continually won reelection with high margins, with his closest bid during the 1994
                    Republican Revolution, when he won by 3.3% with 49.8% of the vote.
                </p>
                <img src="/images/bern3.jpg" class="theManImage img-responsive img-rounded center-block" alt="Responsive image">
            </div>
        </div>
        <div id="theManDivider"></div>
        <div class="row">
            <div class="col-sm-4 col-md-4 col-xs-12">
                <h4>U.S. Senate</h4>
                <p>Sanders entered the race for the U.S. Senate on April 21, 2005, after Senator Jim Jeffords
                    announced that he would not seek a fourth term. Chuck Schumer, Chairman of the Democratic
                    Senatorial Campaign Committee, endorsed Sanders, a critical move as it meant that no Democrat
                    running against Sanders could expect to receive financial help from the party. Sanders was also
                    endorsed by Senate Minority Leader Harry Reid of Nevada and Democratic National Committee Chairman
                    and former Vermont Governor Howard Dean. Dean said in May 2005 that he considered Sanders an ally
                    who "votes with the Democrats 98% of the time." Many national media outlets projected Sanders
                    the winner before any returns came in. He was reelected in 2012 with 71% of the vote.
                </p>
                <img src="/images/bern4.jpg" class="theManImage img-responsive img-rounded center-block" alt="Responsive image">
            </div>
            <div class="col-sm-4 col-md-4 col-xs-12">
                <h4>Political Positions</h4>
                <p>Sanders is a self-described democratic socialist who admires the Nordic model of social
                    democracy and is a proponent of workplace democracy.Many commentators have noted
                    the consistency of his views throughout his political career. He focuses on economic
                    issues such as income and wealth inequality, raising the minimum wage, universal healthcare,
                    reducing the burden of student debt, making public colleges and universities tuition-free by
                    taxing financial transactions,and expanding Social Security benefits. Sanders has become a
                    prominent supporter of laws requiring companies to provide their workers paternity leave, sick
                    leave, and vacation time, noting that such laws have been adopted by almost every developed
                    country.
                </p>
                <img src="/images/bern6.jpg" class="theManImage img-responsive img-rounded center-block" alt="Responsive image">
            </div>
            <div class="col-sm-4 col-md-4 col-xs-12">
                <h4>2016 presidential campaign</h4>
                <p>Sanders announced his intention to seek the Democratic Party's nomination for president on April
                    30, 2015. His campaign was officially launched on
                    May 26 in Burlington. In his announcement, Sanders said, "I don't believe that the men and women
                    who defended American democracy fought to create a situation where billionaires own the political
                    process." His entry into the race was welcomed by Senator Elizabeth Warren, saying "I'm glad to
                    see him get out there and give his version of what leadership in this country should be." Sanders's
                    presidential campaign raised $1.5 million within 24 hours of his official announcement.
                    After four days, Sanders's campaign had raised $3 million from small donors, with an average
                    of $43 per donation. On July 2, the campaign announced it had raised $15 million from 250,000
                    donors.
                </p>
                <img src="/images/bern5.jpg" class="theManImage img-responsive img-rounded center-block" alt="Responsive image">
            </div>
        </div>
    </div>
</div>